<body>
    <header>
        <div id="header__logo">
            <a href="">My Meetic</a>
        </div>
        <div id="header__nav">
            <ul>
                <li>
                    <a href="">Search by gender</a>
                </li>
                <li>
                    <a href="">Search by age</a>
                </li>
                <li>
                    <a href="">Search by city</a>
                </li>
                <li>
                    <a href="">Search by hobby</a>
                </li>
            </ul>
        </div>
        <div id="header__btn">
            <button id="header__login">Log in</button>
            <button id="header__register">Register</button>
            <button id="header__user"><iconify-icon icon="mdi:user"></iconify-icon></button>
        </div>
    </header>
</body>